<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>社員名簿管理システム</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
       <!--  <p th:text="${message}"></p> -->
       <div>
		<header>
			<div class="headName">
				<p>新規社員情報登録</p>
			</div>
			<div class="headSub">
				<div class="headSubBtn"><p><a href="top">ホームへ戻る</a></p></div>
			</div>
		</header>
		<main>
			<div class="serchForm">
				<form type="search" action="cgi-bin/example.cgi" method="post">
				  <p>検索したいキーワードを入力してください。</p>
					  <input type="search" name="search" class="serch" placeholder="キーワードを入力">
					  <input type="submit" name="submit" value="検索">
				</form>
			</div>
			<div class="info">
				<div><p>おしらせ</p></div>
			</div>
		</main>
		<footer>
			<div>
				<p>@copyright Shin</p>
			</div>
		</footer>
		</div>
    </body>
</html>