<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>社員名簿管理システム</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
       <!--  <p th:text="${message}"></p> -->
       <div>
		<header>
			<div class="headName">
				<p>新規社員情報登録</p>
			</div>
			<div class="headSub">
				<div class="headSubBtn"><p><a href="top">ホームへ戻る</a></p></div>
			</div>
		</header>
		<main>
			<div class="serchForm">
<!-- 			<form th:action="@{/Main/insert"} th:object="${userRequest}" th:method="post">-->
	 			<form method="post">
					<div class="form-group">
						<label>氏名：<span class"text-danger">※</span></label>
						<!-- <input type="text" th:field="*{name}" class="form-control"> -->
						 <input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>生年月日：<span class"text-danger">※</span></label>
						<!-- <input type="text" th:field="*{name}" class="form-control"> -->
						 <input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>住所：<span class"text-danger">※</span></label>
						<!-- <input type="text" th:field="*{name}" class="form-control"> -->
						 <input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label>電話番号：<span class"text-danger">※</span></label>
						<!-- <input type="text" th:field="*{name}" class="form-control"> -->
						 <input type="text" class="form-control">
					</div>
					<div>
						<input type="submit" value="登録する">
					</div>
				</form>
			</div>
			<div class="info">
				<div><p>おしらせ</p></div>
			</div>
		</main>
		<footer>
			<div>
				<p>@copyright Shin</p>
			</div>
		</footer>
		</div>
    </body>
</html>